.i10 {
    position: absolute;
    top: 3216px;
    left: 236px;
    font-size: 90px;
    font-weight: 700;
}
.i13 {
    position: absolute;
    top: 3216px;
    left: 313px;
    font-size: 90px;
    font-weight: 700;
}
.i11 {
    position: absolute;
    top: 3216px;
    left: 368px;
    font-size: 90px;
    font-weight: 700;
}
.i12 {
    position: absolute;
    top: 3216px;
    left: 416px;
    font-size: 90px;
    font-weight: 700;
}
.i34 {
    position: absolute;
    top: 3216px;
    left: 460px;
    font-size: 90px;
    font-weight: 700;
}
.i35 {
    position: absolute;
    top: 3216px;
    left: 515px;
    font-size: 90px;
    font-weight: 700;
}
.i37 {
    position: absolute;
    top: 3216px;
    left: 568px;
    font-size: 90px;
    font-weight: 700;
}
.i38 {
    position: absolute;
    top: 3216px;
    left: 615px;
    font-size: 90px;
    font-weight: 700;
}
.i39 {
    position: absolute;
    top: 3216px;
    left: 675px;
    font-size: 90px;
    font-weight: 700;
}
.i40 {
    position: absolute;
    top: 3216px;
    left: 735px;
    font-size: 90px;
    font-weight: 700;
}
.i41 {
    position: absolute;
    top: 3216px;
    left: 810px;
    font-size: 90px;
    font-weight: 700;
}
.i42 {
    position: absolute;
    top: 3216px;
    left: 906px;
    font-size: 90px;
    font-weight: 700;
}
.i43 {
    position: absolute;
    top: 3216px;
    left: 959px;
    font-size: 90px;
    font-weight: 700;
}
.i44 {
    position: absolute;
    top: 3216px;
    left: 1006px;
    font-size: 90px;
    font-weight: 700;
}
.i45 {
    position: absolute;
    top: 3216px;
    left: 1079px;
    font-size: 90px;
    font-weight: 700;
}
.i46 {
    position: absolute;
    top: 3216px;
    left: 1135px;
    font-size: 90px;
    font-weight: 700;
}
.line-icon {
    position: absolute;
    top: 3272.5px;
    left: 1309px;
    max-height: 100%;
    width: 122px;
}
.line23 {
    position: absolute;
    top: 3272.5px;
    left: 1px;
    max-height: 100%;
    width: 122px;
}


.i36 {
    position: absolute;
    top: 4575px;
    left: 553px;
    font-size: 90px;
    font-weight: 700;
}
.child4 {
    position: absolute;
    top: 4653px;
    left: 998px;
    max-height: 100%;
    width: 429px;
}


.child5 {
    position: absolute;
    top: 3276px;
    left: 30px;
    max-height: 100%;
    width: 122px;
}

.child6 {
    position: absolute;
    top: 4653px;
    left: 30px;
    max-height: 100%;
    width: 445px;
}
.div16 {
    position: absolute;
    top: 4822px;
    left: 29px;
    font-size: 80px;
}
.regular1 {
    position: absolute;
    top: 4716px;
    left: 29px;
}
.bold1 {
    position: absolute;
    top: 4990px;
    left: 29px;
}
.black1 {
    position: absolute;
    top: 5232px;
    left: 31px;
    font-weight: 900;
}
.bold-italic1 {
    position: absolute;
    top: 4990px;
    left: 829px;
    font-weight: 700;
}
.black-italic1 {
    position: absolute;
    top: 5232px;
    left: 811px;
    font-weight: 900;
}
.italic1 {
    position: absolute;
    top: 4716px;
    left: 854px;
}
.b3 {
    position: absolute;
    top: 5070px;
    left: 30px;
    font-size: 80px;
}
.div17 {
    position: absolute;
    top: 5333px;
    left: 26px;
    font-size: 80px;
    font-weight: 900;
}
.i65 {
    position: absolute;
    top: 4822px;
    left: 854px;
    font-size: 80px;
}
.i66 {
    position: absolute;
    top: 5070px;
    left: 829px;
    font-size: 80px;
    font-weight: 700;
}
.i67 {
    position: absolute;
    top: 5333px;
    left: 807px;
    font-size: 80px;
    font-weight: 900;
}
.i47 {
    position: absolute;
    top: 5595px;
    left: 569px;
    font-size: 90px;
    font-weight: 700;
}
.i48 {
    position: absolute;
    top: 5595px;
    left: 620px;
    font-size: 90px;
    font-weight: 700;
}
.i49 {
    position: absolute;
    top: 5595px;
    left: 678px;
    font-size: 90px;
    font-weight: 700;
}
.i50 {
    position: absolute;
    top: 5595px;
    left: 736px;
    font-size: 90px;
    font-weight: 700;
}
.i51 {
    position: absolute;
    top: 5595px;
    left: 811px;
    font-size: 90px;
    font-weight: 700;
}
.child7 {
    position: absolute;
    top: 5671px;
    left: 1004px;
    max-height: 100%;
    width: 421px;
}
.child10 {
    position: absolute;
    top: 5671px;
    left: 26px;
    max-height: 100%;
    width: 421px;
    object-fit: contain;
}
.b5 {
    position: absolute;
    top: 5847px;
    left: 49px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 43px;
    height: 90px;
}
.b6 {
    position: absolute;
    top: 5847px;
    left: 137px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 33px;
    height: 92px;
}
.b7 {
    position: absolute;
    top: 5847px;
    left: 224px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 33px;
    height: 90px;
}
.b8 {
    position: absolute;
    top: 5847px;
    left: 569px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 44px;
    height: 91px;
}
.b9 {
    position: absolute;
    top: 5847px;
    left: 304px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 43px;
    height: 91px;
}
.b10 {
    position: absolute;
    top: 5847px;
    left: 486px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 35px;
    height: 92px;
}
.b11 {
    position: absolute;
    top: 5847px;
    left: 399.9px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 33.6px;
    height: 90.9px;
}
.b12 {
    position: absolute;
    top: 5847px;
    left: 658px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 36px;
    height: 91px;
}
.b13 {
    position: absolute;
    top: 5847px;
    left: 739px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 43px;
    height: 182px;
}
.b14 {
    position: absolute;
    top: 5847px;
    left: 830px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 38px;
    height: 91px;
}
.b15 {
    position: absolute;
    top: 5847px;
    left: 915px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 44px;
    height: 91px;
}
.b16 {
    position: absolute;
    top: 5847px;
    left: 1008px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 35px;
    height: 91px;
}
.b17 {
    position: absolute;
    top: 5847px;
    left: 1089px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 35px;
    height: 92px;
}
.b18 {
    position: absolute;
    top: 5847px;
    left: 1170px;
    display: inline-block;
    color: #4ec5f3;
    text-align: left;
    width: 36px;
    height: 92px;
}
.b20 {
    position: absolute;
    top: 6285px;
    left: 228px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 32px;
}
.b21 {
    position: absolute;
    top: 6285px;
    left: 314px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 33px;
}
.b22 {
    position: absolute;
    top: 6285px;
    left: 141px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 38px;
}
.b23 {
    position: absolute;
    top: 6285px;
    left: 55px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 24px;
}
.b24 {
    position: absolute;
    top: 5946px;
    left: 46px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 43px;
}
.b25 {
    position: absolute;
    top: 5946px;
    left: 145px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 42px;
}
.b26 {
    position: absolute;
    top: 6034px;
    left: 49px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 43px;
}
.b27 {
    position: absolute;
    top: 6034px;
    left: 143px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 43px;
}
.b28 {
    position: absolute;
    top: 6113px;
    left: 47px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 58px;
}
.b29 {
    position: absolute;
    top: 6113px;
    left: 137px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 45px;
}
.b30 {
    position: absolute;
    top: 5946px;
    left: 232px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 34px;
}
.b31 {
    position: absolute;
    top: 5946px;
    left: 323px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 33px;
}
.b32 {
    position: absolute;
    top: 6034px;
    left: 235px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 33px;
}
.b33 {
    position: absolute;
    top: 6034px;
    left: 322px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 33px;
}
.b34 {
    position: absolute;
    top: 6113px;
    left: 225px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 58px;
}
.b35 {
    position: absolute;
    top: 6205px;
    left: 55px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 40px;
}
.b36 {
    position: absolute;
    top: 6034px;
    left: 578px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 38px;
}
.b37 {
    position: absolute;
    top: 6205px;
    left: 227px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 32px;
}
.b38 {
    position: absolute;
    top: 6205px;
    left: 134px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 36px;
}
.txt {
    line-break: anywhere;
    width: 100%;
}
.b39 {
    position: absolute;
    top: 6205px;
    left: 313px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    width: 32px;
}
.b40 {
    position: absolute;
    top: 5946px;
    left: 403px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 46px;
}
.b41 {
    position: absolute;
    top: 5946px;
    left: 491px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 40px;
}
.b42 {
    position: absolute;
    top: 6113px;
    left: 321px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 33px;
}
.b43 {
    position: absolute;
    top: 5946px;
    left: 581px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 40px;
}
.b44 {
    position: absolute;
    top: 6034px;
    left: 396px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 56px;
}
.b45 {
    position: absolute;
    top: 6034px;
    left: 498px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 38px;
}
.b46 {
    position: absolute;
    top: 6113px;
    left: 395px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 63px;
}
.b47 {
    position: absolute;
    top: 6113px;
    left: 488px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 56px;
}
.b48 {
    position: absolute;
    top: 6113px;
    left: 576px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 39px;
}
.b49 {
    position: absolute;
    top: 6205px;
    left: 385px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 57px;
}
.b50 {
    position: absolute;
    top: 6205px;
    left: 480px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 42px;
}
.b51 {
    position: absolute;
    top: 6205px;
    left: 571px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 38px;
}
.b52 {
    position: absolute;
    top: 5940px;
    left: 663px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    width: 39px;
}
.b53 {
    position: absolute;
    top: 6034px;
    left: 659px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 48px;
}
.b54 {
    position: absolute;
    top: 6113px;
    left: 667px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 33px;
}
.b55 {
    position: absolute;
    top: 6205px;
    left: 652px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 36px;
}
.b56 {
    position: absolute;
    top: 5946px;
    left: 747px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 55px;
}
.b57 {
    position: absolute;
    top: 6034px;
    left: 755px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 37px;
}
.b58 {
    position: absolute;
    top: 6113px;
    left: 747px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 43px;
}
.b59 {
    position: absolute;
    top: 6205px;
    left: 740px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 40px;
}
.b60 {
    position: absolute;
    top: 5946px;
    left: 843px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 31px;
}
.b61 {
    position: absolute;
    top: 6034px;
    left: 830px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 47px;
}
.b62 {
    position: absolute;
    top: 6113px;
    left: 833px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 48px;
}
.b63 {
    position: absolute;
    top: 6205px;
    left: 827px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 37px;
}
.b64 {
    position: absolute;
    top: 5946px;
    left: 926px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 46px;
}
.b65 {
    position: absolute;
    top: 6034px;
    left: 921px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 57px;
}
.b66 {
    position: absolute;
    top: 6113px;
    left: 926px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 40px;
}
.b67 {
    position: absolute;
    top: 6205px;
    left: 918px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 31px;
}
.b68 {
    position: absolute;
    top: 5946px;
    left: 1017px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 31px;
}
.b69 {
    position: absolute;
    top: 6028px;
    left: 1013px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    width: 44px;
}
.b70 {
    position: absolute;
    top: 6113px;
    left: 1015px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 31px;
}
.b71 {
    position: absolute;
    top: 6205px;
    left: 998px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 44px;
}
.b72 {
    position: absolute;
    top: 5946px;
    left: 1093px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 51px;
}
.b73 {
    position: absolute;
    top: 6034px;
    left: 1097px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 40px;
}
.b74 {
    position: absolute;
    top: 6113px;
    left: 1094px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 47px;
}
.b75 {
    position: absolute;
    top: 6205px;
    left: 1078px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 55px;
}
.b76 {
    position: absolute;
    top: 5946px;
    left: 1180px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 43px;
}
.b77 {
    position: absolute;
    top: 6034px;
    left: 1183px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 41px;
}
.b78 {
    position: absolute;
    top: 6107px;
    left: 1182px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    width: 40px;
}
.b79 {
    position: absolute;
    top: 6205px;
    left: 1176px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 40px;
}
.b80 {
    position: absolute;
    top: 6205px;
    left: 1331px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    width: 73px;
}
.b81 {
    position: absolute;
    top: 5946px;
    left: 1267px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 36px;
}
.b82 {
    position: absolute;
    top: 6034px;
    left: 1269px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 31px;
}
.b83 {
    position: absolute;
    top: 6113px;
    left: 1263px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 43px;
}
.b84 {
    position: absolute;
    top: 6034px;
    left: 1347px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 52px;
}
.b85 {
    position: absolute;
    top: 6205px;
    left: 1253px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 43px;
}
.b86 {
    position: absolute;
    top: 6113px;
    left: 1339px;
    display: flex;
    color: rgba(1, 172, 237, 0.7);
    align-items: center;
    justify-content: center;
    width: 70px;
}

.child8 {
    position: absolute;
    top: 6673px;
    left: 1005px;
    max-height: 100%;
    width: 421px;
}
.child9 {
    position: absolute;
    top: 6673px;
    left: 26px;
    max-height: 100%;
    width: 421px;
    object-fit: contain;
}

.playfair-display1 {
    position: absolute;
    top: 11px;
    left: 36px;
    font-size: 155px;
    font-weight: 700;
    text-align: left;
}
.group {
    position: absolute;
    top: 3473px;
    left: 29px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 443px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.macedonian {
    position: absolute;
    top: 0px;
    left: 111px;
    color: #020101;
}
.container {
    position: absolute;
    top: 4275px;
    left: 512px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 443px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.kmi-th-p {
    position: absolute;
    top: 136px;
    left: 90px;
    font-weight: 500;
}
.k {
    position: absolute;
    top: 43px;
    left: 191px;
    font-size: 80px;
    color: rgba(1, 172, 237, 0.7);
}
.yanomam {
    position: absolute;
    top: 0px;
    left: 123px;
}
.kmi-th-p-r-parent {
    position: absolute;
    top: 4275px;
    left: 995px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 436px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.ema-hotu-iha {
    position: absolute;
    top: 136px;
    left: 100px;
    font-weight: 500;
}
.e {
    position: absolute;
    top: 43px;
    left: 198px;
    font-size: 80px;
    color: rgba(1, 172, 237, 0.7);
}
.tetum {
    position: absolute;
    top: 0px;
    left: 165px;
}
.ema-hotu-iha-parent {
    position: absolute;
    top: 4275px;
    left: 29px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 443px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.heme-kishler {
    position: absolute;
    top: 136px;
    left: 109px;
    font-weight: 500;
}
.salar {
    position: absolute;
    top: 0px;
    left: 175px;
}
.heme-kishler-parent {
    position: absolute;
    top: 4017px;
    left: 995px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 436px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.div24 {
    position: absolute;
    top: 136px;
    left: 79px;
    font-weight: 500;
}
.nogai {
    position: absolute;
    top: 0px;
    left: 160px;
}
.frame-div {
    position: absolute;
    top: 4010px;
    left: 512px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 443px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.savorre-manua {
    position: absolute;
    top: 139px;
    left: 80px;
    font-weight: 500;
}
.romani {
    position: absolute;
    top: 0px;
    left: 144px;
}
.savorre-manua-parent {
    position: absolute;
    top: 4010px;
    left: 29px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 443px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.niemand {
    position: absolute;
    top: 136px;
    left: 132px;
    font-weight: 500;
}
.niemand-parent {
    position: absolute;
    top: 3745px;
    left: 995px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 436px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.ning-no-parent {
    position: absolute;
    top: 3745px;
    left: 512px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 443px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.hech-kim {
    position: absolute;
    top: 140px;
    left: 135px;
    font-weight: 500;
}
.uzbek {
    position: absolute;
    top: 0px;
    left: 166px;
}
.hech-kim-parent {
    position: absolute;
    top: 3745px;
    left: 29px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 443px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.tuit-li-home {
    position: absolute;
    top: 139px;
    left: 28px;
    font-weight: 500;
}
.old-french {
    position: absolute;
    top: 0px;
    left: 144px;
    color: #030101;
}
.tuit-li-home-naissent-parent {
    position: absolute;
    top: 3473px;
    left: 995px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 436px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}
.kedagi-ei-vi {
    position: absolute;
    top: 140px;
    left: 103px;
    font-weight: 500;
}
.kedagi-ei-vi-parent {
    position: absolute;
    top: 3473px;
    left: 512px;
    border: 3px solid rgba(1, 172, 237, 0.7);
    box-sizing: border-box;
    width: 443px;
    height: 202px;
    overflow: hidden;
    text-align: justify;
    font-size: 40px;
}

.line-div {
    position: absolute;
    top: 5937px;
    left: 29px;
    border-top: 4px solid #4dc5f2;
    box-sizing: border-box;
    width: 1404px;
    height: 4px;
}
.child16 {
    position: absolute;
    top: 6032px;
    left: 29px;
    border-top: 4px solid #4dc5f2;
    box-sizing: border-box;
    width: 1404px;
    height: 4px;
}
.child17 {
    position: absolute;
    top: 6121px;
    left: 29px;
    border-top: 4px solid #4dc5f2;
    box-sizing: border-box;
    width: 1404px;
    height: 4px;
}
.child18 {
    position: absolute;
    top: 6197px;
    left: 29px;
    border-top: 4px solid #4dc5f2;
    box-sizing: border-box;
    width: 1404px;
    height: 4px;
}
.child19 {
    position: absolute;
    top: 6288px;
    left: 29px;
    border-top: 4px solid #4dc5f2;
    box-sizing: border-box;
    width: 1404px;
    height: 4px;
}
.child20 {
    position: absolute;
    top: 6363px;
    left: -500px;
    border-top: 4px solid #4dc5f2;
    box-sizing: border-box;
    width: 1404px;
    height: 4px;
}

.turtle-0-icon {
    position: absolute;
   margin-top:1200px;
    left: -500px;
    width: 265px;
    height: 272px;
    object-fit: cover;
}
.i52 {
    position: absolute;
    top: 6599px;
    left: 454px;
    font-size: 90px;
    font-weight: 700;
}
.i53 {
    position: absolute;
    top: 6599px;
    left: 527px;
    font-size: 90px;
    font-weight: 700;
}
.i54 {
    position: absolute;
    top: 6599px;
    left: 580px;
    font-size: 90px;
    font-weight: 700;
}
.i55 {
    position: absolute;
    top: 6599px;
    left: 635px;
    font-size: 90px;
    font-weight: 700;
}
.i56 {
    position: absolute;
    top: 6599px;
    left: 704px;
    font-size: 90px;
    font-weight: 700;
}
.i57 {
    position: absolute;
    top: 6599px;
    left: 747px;
    font-size: 90px;
    font-weight: 700;
}
.i58 {
    position: absolute;
    top: 6599px;
    left: 952px;
    font-size: 90px;
    font-weight: 700;
}
.i59 {
    position: absolute;
    top: 6599px;
    left: 841px;
    font-size: 90px;
    font-weight: 700;
}
.i60 {
    position: absolute;
    top: 6599px;
    left: 897px;
    font-size: 90px;
    font-weight: 700;
}
.i61 {
    position: absolute;
    top: 6599px;
    left: 800px;
    font-size: 90px;
    font-weight: 700;
}
.child11 {
    position: absolute;
    top: 6857px;
    left: 31px;
    width: 1395px;
    height: 1026px;
}
.child12 {
    position: absolute;
    top: 6886px;
    left: 95px;
    width: 1246px;
    height: 967px;
}

.playfair-display {
    position: absolute;
    top: 7187px;
    left: 341px;
    font-size: 45px;
    font-weight: 500;
    display: inline-block;
    width: 777px;
}
.child13 {
    position: absolute;
    top: 8006px;
    left: 31px;
    width: 1395px;
    height: 1026px;
}
.child14 {
    position: absolute;
    top: 8035px;
    left: 95px;
    width: 1246px;
    height: 967px;
}
.i62 {
    position: absolute;
    top: 8074px;
    left: 49px;
    font-size: 55px;
    display: inline-block;
    font-weight: 600;
    width: 1360px;
    height: 102px;
}
.bear-0-icon {
    position: absolute;
    top: 8600px;
    left: 95px;
    width: 243px;
    height: 389px;
    object-fit: cover;
}
.cat-1-icon {
    position: absolute;
    top: 8694px;
    left: 1131px;
    width: 201px;
    height: 297px;
    object-fit: contain;
}
.playfair-display-adrianna {
    position: absolute;
    top: 8276px;
    left: 328px;
    font-size: 45px;
    font-weight: 500;
    display: inline-block;
    width: 779px;
    height: 608px;
}
.dog-4-icon {
    position: absolute;
    top: 7550px;
    left: 95px;
    width: 260px;
    height: 300px;
    object-fit: cover;
}
.dog-5-icon {
    position: absolute;
    top: 7463px;
    left: 1118px;
    width: 219px;
    height: 385px;
    object-fit: cover;
}

.ellipse-icon {
    position: absolute;
    top: 7356px;
    left: 108px;
    width: 167px;
    height: 171px;
    object-fit: contain;
}
.child15 {
    position: absolute;
    top: 8500px;
    left: 1131px;
    width: 145px;
    height: 189px;
    object-fit: contain;
}
.i63 {
    position: absolute;
    top: 8552px;
    left: 1140px;
    font-size: 18px;
    display: inline-block;
    font-weight: 700;
    text-align: left;
    width: 112px;
}
.i64 {
    position: absolute;
    top: 7408px;
    left: 113px;
    font-size: 23px;
    font-weight: 700;
    text-align: left;
}