
.child {
    position: absolute;
    top: 227px;
    left: 37px;
    width: 1197px;
    height: 80px;
}
.i {
    position: absolute;
    top: 218px;
    left: 37px;
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
    text-align: left;
    width: 179px;
}
.span {
    font-weight: 900;
}
.b {
    white-space: pre-wrap;
}
.div1 {
    position: absolute;
    top: 254px;
    left: 216px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
}
.b1 {
    position: absolute;
    top: 256px;
    left: 912px;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
}
.i1 {
    position: absolute;
    top: 43px;
    left: 99px;
    font-weight: 700;
}
.li {
    margin-bottom: 0px;
}
.ol {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 43px;
}
.i2 {
    position: absolute;
    top: 136px;
    left: 36px;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
}
.parent {
    position: absolute;
    top: 405px;
    left: 959px;
    background-color: #f3fcff;
    width: 469px;
    height: 513px;
    overflow: hidden;
    font-size: 43px;
    color: rgba(0, 0, 0, 0.8);
}
.bars-3-icon {
    position: absolute;
    top: 57px;
    left: 1196px;
    width: 235px;
    height: 204px;
    object-fit: cover;
}
.animals-1-icon {
    position: absolute;
    top: 405px;
    left: 32px;
    width: 929px;
    height: 511px;
    object-fit: cover;
}

.i10 {
    position: absolute;
    top: 3216px;
    left: 236px;
    font-size: 90px;
    font-weight: 700;
}
.i11 {
    position: absolute;
    top: 3216px;
    left: 368px;
    font-size: 90px;
    font-weight: 700;
}
.i12 {
    position: absolute;
    top: 3216px;
    left: 416px;
    font-size: 90px;
    font-weight: 700;
}
.i13 {
    position: absolute;
    top: 3216px;
    left: 313px;
    font-size: 90px;
    font-weight: 700;
}

.i17 {
    position: absolute;
    top: 977px;
    left: 248px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}

.dog-2-icon {
    position: absolute;
    margin-top: 1260px;
    left: 600px;
    width: 235px;
    height: 420px;
    object-fit: cover;
}

.item {
    position: absolute;
    top: 1037px;
    left: 32px;
    max-height: 100%;
    width: 160.5px;
}
.inner {
    position: absolute;
    top: 1037px;
    left: 1267px;
    max-height: 100%;
    width: 160.5px;
}
.vector-icon {
    position: absolute;
    top: 2250px;
    left: 1267px;
    max-height: 100%;
    width: 160.5px;
}
.child1 {
    position: absolute;
    top: 2250px;
    left: 32px;
    max-height: 100%;
    width: 160.5px;
}
.d324b12136387bc505dc7ae4ec5d7b {
    position: absolute;
    top: 2310px;
    left: 677px;
    width: 235px;
    height: 238px;
}
.div2 {
    position: absolute;
    top: 2342px;
    left: 347px;
    font-size: 80px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}
.div3 {
    position: absolute;
    top: 2342px;
    left: 862px;
    font-size: 80px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}
.child2 {
    position: absolute;
    top: 2619px;
    left: 538px;
    width: 15px;
    height: 473px;
    object-fit: contain;
}
.child3 {
    position: absolute;
    top: 2619px;
    left: 906px;
    width: 15px;
    height: 473px;
    object-fit: contain;
}
.div4 {
    position: absolute;
    top: 2619px;
    left: 61px;
    font-size: 45px;
    font-weight: 600;
    white-space: pre-wrap;
}
.div4 {
    position: absolute;
    top: 2619px;
    left: 61px;
    font-size: 45px;
    font-weight: 600;
    white-space: pre-wrap;
}
.i18 {
    position: absolute;
    top: 2625px;
    left: 963px;
    font-size: 40px;
    font-weight: 600;
    white-space: pre-wrap;
}
.i19 {
    position: absolute;
    top: 2705px;
    left: 963px;
    font-size: 40px;
    font-weight: 700;
    white-space: pre-wrap;
}
.i20 {
    position: absolute;
    top: 2785px;
    left: 963px;
    font-size: 40px;
    font-weight: 800;
    white-space: pre-wrap;
}
.i21 {
    position: absolute;
    top: 2865px;
    left: 963px;
    font-size: 40px;
    font-weight: 900;
    white-space: pre-wrap;
}
.i22 {
    position: absolute;
    top: 2945px;
    left: 960px;
    font-size: 40px;
    white-space: pre-wrap;
}
.i23 {
    position: absolute;
    top: 3025px;
    left: 959px;
    font-size: 40px;
    font-weight: 500;
    white-space: pre-wrap;
}
.b2 {
    position: absolute;
    top: 2699px;
    left: 60px;
    font-size: 45px;
    white-space: pre-wrap;
}
.div6 {
    position: absolute;
    top: 2779px;
    left: 60px;
    font-size: 45px;
    font-weight: 800;
    white-space: pre-wrap;
}
.div7 {
    position: absolute;
    top: 2859px;
    left: 60px;
    font-size: 45px;
    font-weight: 900;
    white-space: pre-wrap;
}
.div8 {
    position: absolute;
    top: 2939px;
    left: 62px;
    font-size: 45px;
    white-space: pre-wrap;
}
.div9 {
    position: absolute;
    top: 3019px;
    left: 59px;
    font-size: 45px;
    font-weight: 500;
    white-space: pre-wrap;
}
.semibold {
    position: absolute;
    top: 2621px;
    left: 260px;
    font-size: 45px;
    font-weight: 600;
}
.semibold-italic {
    position: absolute;
    top: 2634px;
    left: 1137px;
    font-size: 35px;
    font-weight: 600;
}
.extrabold-italic {
    position: absolute;
    top: 2794px;
    left: 1114px;
    font-size: 35px;
    font-weight: 800;
}
.black-italic {
    position: absolute;
    top: 2874px;
    left: 1152px;
    font-size: 35px;
    font-weight: 900;
}
.italic {
    position: absolute;
    top: 2954px;
    left: 1204px;
    font-size: 35px;
}
.medium-italic {
    position: absolute;
    top: 3034px;
    left: 1154px;
    font-size: 35px;
    font-weight: 500;
}
.bold-italic {
    position: absolute;
    top: 2714px;
    left: 1149px;
    font-size: 35px;
    font-weight: 700;
}
.extrabold {
    position: absolute;
    top: 2781px;
    left: 244px;
    font-size: 45px;
    font-weight: 800;
}
.bold {
    position: absolute;
    top: 2701px;
    left: 253px;
    font-size: 45px;
}
.black {
    position: absolute;
    top: 2861px;
    left: 255px;
    font-size: 45px;
    font-weight: 900;
}
.regular {
    position: absolute;
    top: 2941px;
    left: 236px;
    font-size: 45px;
}
.medium {
    position: absolute;
    top: 3021px;
    left: 236px;
    font-size: 45px;
    font-weight: 500;
}
.div10 {
    position: absolute;
    top: 2619px;
    left: 631px;
    font-size: 45px;
}
.i24 {
    font-weight: 600;
}
.i25 {
    font-weight: 500;
}
.div11 {
    position: absolute;
    top: 2698px;
    left: 630px;
    font-size: 45px;
}
.i26 {
    font-weight: 700;
}
.i25 {
    font-weight: 500;
}
.i30 {
    font-weight: 800;
}
.div12 {
    position: absolute;
    top: 2781px;
    left: 629px;
    font-size: 45px;
}
.div13 {
    position: absolute;
    top: 2861px;
    left: 627px;
    font-size: 45px;
}
.div14 {
    position: absolute;
    top: 2940px;
    left: 633px;
    font-size: 45px;
}
.div15 {
    position: absolute;
    top: 3018px;
    left: 633px;
    font-size: 45px;
}
.i25 {
    font-weight: 500;
}
.i25 {
    font-weight: 500;
}

.child21 {
    position: absolute;
    top: 1130px;
    left: 32px;
    width: 599px;
    height: 1026px;
}
.child22 {
    position: absolute;
    top: 1159px;
    left: 59px;
    width: 535px;
    height: 967px;
}
.group-icon {
    position: absolute;
    height: 0.85%;
    width: 2.18%;
    top: 12.99%;
    right: 87.71%;
    bottom: 86.16%;
    left: 10.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon1 {
    position: absolute;
    height: 1.13%;
    width: 8.01%;
    top: 13.18%;
    right: 84.8%;
    bottom: 85.69%;
    left: 7.19%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i68 {
    position: absolute;
    top: 1230px;
    left: 150px;
    font-size: 50px;
    display: inline-block;
    font-weight: 700;
    width: 3px;
}
.group-icon1 {
    position: absolute;
    height: 0.57%;
    width: 1.38%;
    top: 13.07%;
    right: 81.39%;
    bottom: 86.37%;
    left: 17.24%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon2 {
    position: absolute;
    height: 0.76%;
    width: 5.07%;
    top: 13.19%;
    right: 79.53%;
    bottom: 86.05%;
    left: 15.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i69 {
    position: absolute;
    top: 1216px;
    left: 250px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 37px;
}
.group-icon2 {
    position: absolute;
    height: 0.52%;
    width: 1.27%;
    top: 13.41%;
    right: 76.4%;
    bottom: 86.07%;
    left: 22.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon3 {
    position: absolute;
    height: 0.69%;
    width: 4.65%;
    top: 13.53%;
    right: 74.67%;
    bottom: 85.78%;
    left: 20.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i70 {
    position: absolute;
    top: 1238px;
    left: 335px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 26px;
}
.group-icon3 {
    position: absolute;
    height: 0.52%;
    width: 1.27%;
    top: 13.12%;
    right: 72.07%;
    bottom: 86.36%;
    left: 26.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon4 {
    position: absolute;
    height: 0.69%;
    width: 4.65%;
    top: 13.24%;
    right: 70.36%;
    bottom: 86.07%;
    left: 24.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i71 {
    position: absolute;
    top: 1218px;
    left: 400px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 25px;
}
.group-icon4 {
    position: absolute;
    height: 0.52%;
    width: 1.27%;
    top: 13.63%;
    right: 68.71%;
    bottom: 85.85%;
    left: 30.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon5 {
    position: absolute;
    height: 0.69%;
    width: 4.65%;
    top: 13.74%;
    right: 67.01%;
    bottom: 85.57%;
    left: 28.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i72 {
    position: absolute;
    top: 1260px;
    left: 445px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 36px;
}
.group-icon5 {
    position: absolute;
    height: 0.52%;
    width: 1.27%;
    top: 13.08%;
    right: 65.15%;
    bottom: 86.41%;
    left: 33.58%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon6 {
    position: absolute;
    height: 0.69%;
    width: 4.65%;
    top: 13.19%;
    right: 63.45%;
    bottom: 86.12%;
    left: 31.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i73 {
    position: absolute;
    top: 1215px;
    left: 500px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 37px;
}
.group-icon6 {
    position: absolute;
    height: 0.52%;
    width: 1.27%;
    top: 13.63%;
    right: 62.12%;
    bottom: 85.85%;
    left: 36.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon7 {
    position: absolute;
    height: 0.69%;
    width: 4.65%;
    top: 13.74%;
    right: 60.44%;
    bottom: 85.57%;
    left: 34.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i74 {
    position: absolute;
    top: 1260px;
    left: 550px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 21px;
}


.playfair-display3 {
    text-decoration: underline;
}
.claus-eggers-sorensen {
    color: inherit;
}
.playfair-display-container {
    position: absolute;
    top: 1371px;
    left: 100px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 408px;
}
.child23 {
    position: absolute;
    top: 1130px;
    left: 831px;
    width: 599px;
    height: 1026px;
}
.child24 {
    position: absolute;
    top: 1159px;
    left: 865px;
    width: 535px;
    height: 967px;
}

.group-icon7 {
    position: absolute;
    height: 1.07%;
    width: 2.33%;
    top: 12.91%;
    right: 33.31%;
    bottom: 86.04%;
    left: 60.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon8 {
    position: absolute;
    height: 1.4%;
    width: 8.56%;
    top: 13.15%;
    right: 30.18%;
    bottom: 85.45%;
    left: 57.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i77 {
    position: absolute;
    top: 1237px;
    left: 915px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 38px;
    height: 74px;
}
.group-icon8 {
    position: absolute;
    height: 0.8%;
    width: 1.46%;
    top: 13.01%;
    right: 26.58%;
    bottom: 86.29%;
    left: 68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon9 {
    position: absolute;
    height: 0.93%;
    width: 5.41%;
    top: 13.17%;
    right: 24.57%;
    bottom: 85.9%;
    left: 66.15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i75 {
    position: absolute;
    top: 1217px;
    left: 1030px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 21px;
    height: 74px;
}
.group-icon9 {
    position: absolute;
    height: 0.97%;
    width: 1.36%;
    top: 13.02%;
    right: 9.27%;
    bottom: 86.34%;
    left: 72.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon10 {
    position: absolute;
    height: 1.2%;
    width: 5%;
    top: 13.17%;
    right: 7.46%;
    bottom: 85.98%;
    left: 70.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i81 {
    position: absolute;
    top: 1220px;
    left: 1095px;
    font-size: 45px;
     display: inline-block;
    font-weight: 700;
     width: 21px;
    height: 74px;
}

.group-icon10 {
    position: absolute;
    height: 0.64%;
    width: 1.36%;
    top: 13.08%;
    right: 16.64%;
    bottom: 86.28%;
    left: 82%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon11 {
    position: absolute;
    height: 0.85%;
    width: 5%;
    top: 13.23%;
    right: 14.78%;
    bottom: 85.92%;
    left: 80.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i80 {
    position: absolute;
    top: 1250px;
    left: 1170px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 27px;
    height: 75px;
}

.group-icon11 {
    position: absolute;
    height: 0.80%;
    width: 1.36%;
    top: 13.43%;
    right: 21.26%;
    bottom: 85.92%;
    left: 77.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon12 {
    
    height: 0.86%;
    width: 4.93%;
    top: 13.57%;
    right: 19.51%;
    bottom: 85.56%;
    left: 75.56%;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i78 {
    position: absolute;
    top: 1220px;
    left: 1240px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 27px;
    height: 75px;
}
.group-icon12 {
    position: absolute;
    height: 0.64%;
    width: 1.36%;
    top: 13.71%;
    right: 13.06%;
    bottom: 85.65%;
    left: 85.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon13 {
    position: absolute;
    height: 0.85%;
    width: 4.93%;
    top: 13.85%;
    right: 11.29%;
    bottom: 85.3%;
    left: 83.78%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i76 {
    position: absolute;
    top: 1278px;
    left: 1290px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 26px;
    height: 74px;
}
.group-icon13 {
    position: absolute;
    height: 2.%;
    width: 1.36%;
    top: 13.7%;
    right: 6.04%;
    bottom: 85.66%;
    left: 90.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon14 {
    position: absolute;
    height: 2.%;
    width: 4.93%;
    top: 13.85%;
    right: 4.24%;
    bottom: 85.3%;
    left: 89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.i79 {
    position: absolute;
    top: 1270px;
    left: 1370px;
    font-size: 45px;
    display: inline-block;
    font-weight: 700;
    width: 25px;
    height: 74px;
}
.tiger-2-icon {
    position: absolute;
    top: 1910px;
    left:-780px;
    transform:rotate(90deg);
    width: 160px;
    height: 230px;
    object-fit: cover;
}
.i3 {
    position: absolute;
    top: 2190px;
    left: 395px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i4 {
    position: absolute;
    top: 2190px;
    left: 470px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i5 {
    position: absolute;
    top: 2190px;
    left: 520px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i6 {
    position: absolute;
    top: 2190px;
    left: 576px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i7 {
    position: absolute;
    top: 2190px;
    left: 625px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i9 {
    position: absolute;
    top: 2190px;
    left: 680px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i8 {
    position: absolute;
    top: 2190px;
    left: 735px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i14 {
    position: absolute;
    top: 2190px;
    left: 790px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i15 {
    position: absolute;
    top: 2190px;
    left: 850px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.i16 {
    position: absolute;
    top: 2190px;
    left: 915px;
    font-size: 90px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.dog-1-icon {
    position: absolute;
    margin-top: 2300px;
    width: 200px;
    max-width: 190px;
    height: 250px;
    left: 1100px;
    object-fit: cover;
    }

.dog-3-icon {
    position: absolute;
    top: 2310px;
    left: 70px;
    width: 246px;
    height: 262px;
    object-fit: cover;
}

.playfair-container {
    position: absolute;
    top: 1380px;
    left: 931px;
    font-size: 30px;
    text-align: left;
    display: inline-block;
    width: 411px;
    height: 693px;
}

.rectangle-div {
    position: absolute;
    top: 2602px;
    left: 1349px;
    background-color: #fff;
    width: 24px;
    height: 16px;
}

.div {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 9244px;
    overflow: hidden;
    text-align: center;
    font-size: 60px;
    color: #000;
    font-family: 'Playfair Display';
}
.beauty-fashion {
    margin: 0;
}
.beauty-fashion-container {
    position: absolute;
    top: 6934px;
    left: 49px;
    font-size: 55px;
    display: inline-block;
    font-weight: 600;
    width: 1360px;
    height: 102px;
}